body {
  font-family: "Roboto Mono", monospace;
  max-width: 900px;
  color: #a5e1ad;
}

h3 {
  color: #4ca1a3;
}

strong {
  font-size: 16pt;
}

div {
  padding: 5pt;
}

.App footer {
  font-size: 11px;
  margin: 10px 0 0 5px;
}
