body {
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
  color: #a5e1ad;
}

strong {
  font-size: 16pt;
}

div {
  padding: 5pt;
}

.App footer {
  font-size: 11px;
  margin: 10px 0 0 5px;
}
