.Weather {
  background-image: linear-gradient(45deg, #21094e, #511281 80%);
  border-radius: 15px;
  padding: 10pt;
  text-align: center;
}

.Weather h1 {
  font-weight: bold;
  margin-top: 5px;
}

.Weather ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Weather a {
  text-decoration: none;
}

.Weather .search {
  padding: 0;
  background-color: #4ca1a3;
  color: #a5e1ad;
}

.Weather .temperature-today {
  font-size: 36pt;
  margin-left: 20px;
}

.Weather .weather-today {
  font-size: 52pt;
}

input[type="text"] {
  color: #4ca1a3;
}

input[type="submit"] {
  font-family: FontAwesome;
  line-height: 36px;
}

input[type="button"] {
  color: #a5e1ad;
  background-color: #4ca1a3;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  color: #4ca1a3;
  background-color: #a5e1ad;
}
